/* 
    Document   : damjan
    Created on : May 24, 2013, 11:29:49 AM
    Author     : dProdigy
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
;}


/*********************PREGLED DATOTEKE********************/
.datotekaView{
    font:14px Tahoma bold;
    border-top: 3px silver solid;
    border-bottom: 3px silver solid;
    width:70%;
    margin: 0 auto;
    padding: 1%;
}

.prenosTextInButton{
    font: 28px Century Gothic;
    text-align: right;
}

.prenosTextInButton a{
    color: #555555;
}
/*********************TABELA ZA DATOTEKE********************/

.datotekeTable tr{
    padding: 1%;
    line-height: 28px;
    vertical-align: top;
}

.datotekeTable th{
    font-size: 15px;
}

.datotekeTable td{
    text-align: center;
}

.datotekeTable tr > td > a > i{
    float: right;
}
/*********************NOVICE********************/
.novicaView{
    margin-left: auto;
    margin-right: auto;
}

.novicaJedro{
    margin-top: 2%;
}

.novicaView > h2{
   text-align: center;
   color: #0e90d2;
}

.novicaVsebina{
    width: 100%;
    margin-top: 2%;
}

.novicaHeader{
    margin-top: 0px;
}
/*********************IKONE********************/
.ikone{
    text-align: right;
    float: right;
    vertical-align:central;
}

.ikone > i{
    margin-top: 2px;
}

/********************FLASH MESSENGER********************/
.alert, alert-info{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    list-style-type: none;
}


.well, .well-small{
    max-height: 100px;
    overflow: hidden;
}

/********************DESNI SIDEBAR********************/
.desni-sidebar{
    border: 1px solid silver;
    width: 100%;
}

.sidebar-novica{
    border: 2px solid #0e90d2;
    height: 100px;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
}
