/* Popravim grd form */
.form-actions {
	background-color: inherit;
	border-top: none;
  padding: 0;
}

p.error {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: rgb(185, 74, 72);
	font-size: 90%;
}

.navbar .nav-center,
.navbar .nav-center > li {
  float:none;
  display:inline-block;
  *display:inline; 
  *zoom:1;
  vertical-align: top;
}

.navbar-inner-center {
  text-align:center;
}

/* fix za navbar-fixed-top in responsive stylesheet */
body { padding-top: 60px; }
@media (min-width: 981px) {
    body {
      padding-top: 60px;
    }
  }