/* Popravim grd form */
.form-actions {
	background-color: inherit;
	border-top: none;
}

p.error {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: rgb(185, 74, 72);
	font-size: 90%;
}