/* MATTO CSS FILE */

/* LINK: Dodaj oglas */
#dodaj-oglas {
    background-color: #0088cc;
    padding: 7px;
    color: white;
}
    #dodaj-oglas:hover {
        text-decoration: none;
        color: black;
    }
    
#form-textarea {
    width: 450px;
}


#test #submitbutton {
    border: none;
    background-color: #0088cc;
    color: white;
    padding: 7px;
}

    #test #submitbutton:hover {
        color: #999;
    }

#test label {
    display: block;
}

#top-menu {
    margin-top: 10px;
    margin-bottom: 10px;
}
