/* MATTO CSS FILE */

#test label {
	display: block;
}

#top-menu {
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	color: #0081c2;
}

#oglas-vsebina {
    word-wrap: break-word;
    width: 450px;
}

.izpisi-oglas {
    border: 1px dotted black;
    margin-bottom: 5px;
}