/* MATTO CSS FILE */

/* LINK: Dodaj oglas */
#dodaj-oglas {
    background-color: #0088cc;
    padding: 7px;
    color: white;
}
    #dodaj-oglas:hover {
        text-decoration: none;
        color: black;
    }
    
#form-textarea {
    width: 450px;
}

#test label {
    display: block;
}

#top-menu {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    color: #0081c2;
}
